/**
 * 设计规范
 */
@primary-color:          #33a3f4;
@error-color:            #e12b35;
@warning-color:          #F8A73A;
@border-color:           #b2b2b2;
@bg-color:               #fbf9fe;

/**
 * 文本
 */
@text-color-default:     #333333;
@text-color-primary:     @primary-color;
@text-color-secondary:   #777777;
@text-color-subsidiary:  #b2b2b2;
